src/main/resources/file.xml

<!-- edited with XMLSpy v2020 rel. 2 sp1 (x64) (http://www.altova.com) by VADIM SMIRNOV (DFS Systems) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://mos.ru/gu/service/044301/" targetNamespace="http://mos.ru/gu/service/044301/" elementFormDefault="qualified" attributeFormDefault="unqualified">

    <xs:element name="act_date"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Дата выдачи</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="act_issued"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Кем выдан</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="act_number"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Номер</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="building"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Корпус</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="buildingcode_osm"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Код строения осмотра</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="city"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Город</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="confirmation_0"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я подтверждаю, что ознакомлен(а) с тем, что для ос</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="confirmation_1"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я подтверждаю, что ознакомлен(а) с тем, что для ос</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="confirmation_2"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я подтверждаю, что ознакомлен(а) с тем, что для по</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="confirmation_3"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я подтверждаю, что ознакомлен(а) с правилами прове</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="confirmation_4"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я подтверждаю, что ознакомлен(а) с тем, что для пр</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="contact_email"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Адрес электронной почты</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="contact_firstname"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Имя</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="contact_lastname"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Фамилия</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="contact_middlename"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Отчество</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="contact_phone"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Контактный телефон</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="country_number_tranzit"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Наличие транзитного государственного регистрационн</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="email"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Адрес электронной почты</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="fiascode"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">ФИАС КОД</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="firstname"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Имя</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="flat"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Квартира/Офис</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="fullname"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Полное наименование</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="goal_request"
                minOccurs="0">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Цель обращения</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Государственная регистрация самоходных машин</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Проведение технического осмотра тракторов, самоходных, дорожно-строительных и иных машин и прицепов к ним</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="house"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Дом</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="house_osm"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Дом</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="inform_abaut_date"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я проинформирован и согласен с правилами выезда ин</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="inform_abaut_rules_gostekhnadzor"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я проинформирован и согласен с тем, что в случае,</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="inform_about_rules"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я проинформирован и согласен с правилами выезда ин</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="inform_about_rules_1"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я проинформирован и согласен с тем, что в случае,</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="inform_about_rules_2"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я проинформирован о том, что дату и время осмотра</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="inform_doc_originals"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я подтверждаю, что ознакомлен( а) с тем, что для о</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="inform_original_gostekhnadzor_doc"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я подтверждаю, что ознакомлен(а) с тем, что для ос</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="inform_rules_inspectors"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я проинформирован и согласен с правилами выезда ин</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="inform_rules_point"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я обязуюсь создать необходимые условия для проведе</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="inform_rules_techinspectors"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я проинформирован и согласен с правилами выезда ин</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="inform_rules_to"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я подтверждаю, что ознакомлен(а) с правилами прове</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="informed"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я проинформирован и согласен с правилами выезда ин</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="informed_2"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Я обязуюсь создать необходимые условия для проведе</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="inn"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">ИНН</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="justification"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Обоснование освобождения</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="kladrcode"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">КЛАДР КОД</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="korpus_osm"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Корпус</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="kpp"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">КПП</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="lastname"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Фамилия</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="litera"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Литера</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="locality"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Регион</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="middlename"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Отчество</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="name"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Сокращенное наименование</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="number_cars"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Количество машин</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ogrn"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">ОГРН</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="okato"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">ОКАТО</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="okrug_osm"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Округ</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="osmotr"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Осмотр</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="osmotr_txt"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Осмотр провести</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="other_contacts"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Дополнительные контактные данные</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="ownership"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Владение</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="payment_exemption"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Освобождение от уплаты государственной пошлины</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="phone"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Контактный телефон</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="pobox"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Адрес дома</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="point_coordinates"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Установка точки на интерактивной карте</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="postalcode"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Индекс</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="previously_registered"
                minOccurs="0"
                type="xs:boolean">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Была ли самоходная машина ранее зарегистрирована?</xs:documentation>
            <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="rayon_osm"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Район</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="region"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Район</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="room_osm"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Квартира/офис</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="smotr_disposition"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Уточнение место проведения осмотра</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="street"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Улица</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="street_osm"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Улица</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="streetcode_osm"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Код улицы осмотра</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="structure"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Строение</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="structure_osm"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Строение</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="techiks_present"
                minOccurs="0">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Технику к осмотру представит</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Заявитель</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Представитель заявителя, подающий заявление</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="3">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Иное лицо</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="techiks_present_txt"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Технику к осмотру представит</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="town"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Населенный пункт</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="type"
                minOccurs="0">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Тип заявителя</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Физическое лицо</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Юридическое лицо</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="3">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Индивидуальный предприниматель</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="type_service"
                minOccurs="0">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Вид услуги</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Регистрация самоходных машин</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Внесение изменений в регистрационные данные</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="3">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Снятие с учета самоходных машин</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="type_trustee"
                minOccurs="0">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Заявитель является:</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Юридическим лицом</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="3">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Индивидуальным предпринимателем</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="varius"
                minOccurs="0">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Вариант оказания услуги</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Совершение регистрационных действий по одной машине</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Совершение регистрационных действий по группе машин</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="varius_other"
                minOccurs="0">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Вариант оказания услуги ТО</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Проведение технического осмотра по одной машине</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Проведение технического осмотра по группе машин</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="varius_other_txt"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Вариант оказания услуги</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="varius_txt"
                minOccurs="0"
                type="xs:string">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Вариант оказания услуги</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:element name="vehicle_passport"
                minOccurs="0">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Паспорт самоходной машины</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Внести изменения в действующий</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Получить новый, если в старом заполнены все поля</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="zayv_pod"
                minOccurs="0">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Заявление подается</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Заявителем</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Представителем заявителя</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="zayv_yavl"
                minOccurs="0">
        <xs:annotation>
            <xs:documentation xml:lang="ru">Вы являетесь:</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:int">
                <xs:enumeration value="1">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">первым лицом организации (действуете на основании уставных документов)</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value="2">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">уполномоченным на подачу заявлений сотрудником организации, действующем на основании доверенности(-ей)”,</xs:documentation>
                    </xs:annotation>
                </xs:enumeration>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>
    <xs:element name="amending_registrationslist"
                minOccurs="0">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="amending_registrations"
                            minOccurs="1"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Причина внесения изменений в регистрационные данны</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="amending_registration"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Причина внесения изменений в регистрационные данны</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="amending_registration_txt"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Причина внесения изменений в регистрационные данны</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="osnovnoy_most_numberlist"
                minOccurs="0">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="osnovnoy_most_number"
                            minOccurs="1"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">Номер основного моста</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="osnovnoy_most_number"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Номер основного моста</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="drivers_namelist"
                minOccurs="0">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="drivers_name"
                            minOccurs="1"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">ОАТИ: Данные водителей</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="birthdate"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Дата рождения</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="contact2_firstname"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Имя</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="contact2_lastname"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Фамилия</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="contact2_middlename"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Отчество</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="doc_code"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Код удостоверения</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="firstname"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Имя</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="lastname"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Фамилия</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="middlename"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Отчество</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="utm_docdate"
                                        minOccurs="0"
                                        type="xs:dateTime">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Дата выдачи удостоверения</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="utm_number"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Номер удостоверения</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="utm_serial"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Серия удостоверения</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="samokhod_dateslist"
                minOccurs="0">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="samokhod_dates"
                            minOccurs="1"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">ОАТИ: Данные по самоходной технике</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="amending_registrations"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Причина внесения изменений в регистрационные данны</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="amending_registrations_txt"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Причина внесения изменений в регистрационные данны</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="change_reason"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Причина внесения изменений в регистрационные данны</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:enumeration value="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Изменение ОПФ собственника</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="2">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Изменение наименования/ФИО собственника</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="3">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Изменение юридического адреса/адреса проживания физ. лица, по которому он зарегистрирован</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="4">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Изменение цвета машины</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="5">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Замена номерных агрегатов</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="color"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Цвет машины</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="duplicate_doc"
                                        minOccurs="0"
                                        type="xs:int">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Выбор документа, дубликат которого необходимо полу</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="duplicate_doc_txt"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Выбор документа, дубликат которого необходимо полу</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="engine_number"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Номер двигателя</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="god_vipuska"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Год выпуска</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="grz_number"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Номер ГРЗ</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="grz_number2"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Номер ГРЗ  2</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="grz_region_code"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Регион</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="grz_region_code2"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">регион 2</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="grz_serial"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Серия ГРЗ</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="grz_serial2"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Серия ГРЗ 2</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="index"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">номер СМ</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="kpp_number"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Номер коробки переключения передач</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="kpp_number_stat"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Номер коробки переключения передач</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="leasing"
                                        minOccurs="0"
                                        type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Заявленная самоходная техника является предметом л</xs:documentation>
                                    <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="lising_transport"
                                        minOccurs="0"
                                        type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Заявленная самоходная техника является предметом л</xs:documentation>
                                    <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="manufacturing_plant"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Завод изготовитель</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="marka"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Марка</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="name"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Имя</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="name_rami"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Заводской номер машины (рамы)</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="name_samohod"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Наименование</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="osnovnoy_most_number"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Номер основного моста</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="osnovnoy_most_number_stat"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Номер основного ведущего моста</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="p_number_sm"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Номер паспорта самоходной машины</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="p_series_sm"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Серия паспорта самоходной машины</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="presense_registrations"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Наличие предыдущей регистрации</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:enumeration value="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Самоходная машина была зарегистрирована ранее в городе Москве.</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="2">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Самоходная машина была зарегистрирована ранее в другом регионе</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="presense_registrations_txt"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Наличие предыдущей регистрации</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="previously_registered"
                                        minOccurs="0"
                                        type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Была ли самоходная машина ранее зарегистрирована?</xs:documentation>
                                    <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="reason_extrad"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Причина выдачи</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="registration_agregats"
                                        minOccurs="0"
                                        type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Регистрационные действия в связи с приобретением н</xs:documentation>
                                    <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="registration_plate"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Государственный регистрационный знак</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:enumeration value="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Имеется</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="2">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Требуется</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="reson_deregistration"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Причина снятия с учета</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="reson_deregistration_txt"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Причина снятия с учета</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="samokhod"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Причина снятия с учета</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:enumeration value="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Утилизация самоходной машины</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="2">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Вывоз самоходной машины за пределы РФ</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="3">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Прекращение права собственности</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="4">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Изменение места жительства (юридического адреса) владельца (при убытии в другой субъект РФ)</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="state_account"
                                        minOccurs="0"
                                        type="xs:boolean">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Машина состоит на государственном регистрационном</xs:documentation>
                                    <xs:documentation xml:lang="ru">False - Нет, True - Да</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="transit_plates"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Государственный регистрационный знак «Транзит»</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:enumeration value="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Не требуется</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="2">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Требуется</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="vehicle_passport"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Паспорт самоходной машины</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:enumeration value="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Внести изменения в действующий</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="2">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Получить новый, если в старом заполнены все поля</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="vehicle_passport_txt"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Паспорт самоходной машины</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="basis_inspectorslist"
                minOccurs="0">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="basis_inspectors"
                            minOccurs="1"
                            maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation xml:lang="ru">ОАТИ: Обоснование выезда инспектора ГТН</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:all>
                            <xs:element name="basis"
                                        minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Обоснование выезда инспектора ГТН</xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:int">
                                        <xs:enumeration value="1">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Для осмотра 3 и более единиц техники по одному адресу</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="2">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Для осмотра для гусеничной машины (за исключением снегоходов)</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="3">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Заявитель подает заявление по получению государственной услуги для электромобиля</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="4">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Для осмотра машины категории AIII, AIV, D, E, F</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="5">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Для осмотра машины, принадлежащей частям Министерства обороны, ФСБ, МВД и др. силовых ведомств</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                        <xs:enumeration value="6">
                                            <xs:annotation>
                                                <xs:documentation xml:lang="ru">Для осмотра машины, используемой на закрытой площадке аэродрома</xs:documentation>
                                            </xs:annotation>
                                        </xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="basis_txt"
                                        minOccurs="0"
                                        type="xs:string">
                                <xs:annotation>
                                    <xs:documentation xml:lang="ru">Обоснование выезда инспектора ГТН</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:all>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
